.panel-collapse {
    overflow: hidden;
}

.panel-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    margin: 0;
    padding: 1.33rem 0;
}

.caret {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;

    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);

    -webkit-transform-origin: 50% 40%;
    transform-origin: 50% 40%;
}

/* style when the panel is opened */
.dropup .caret {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}